@using HoundRace.Web.ViewModels
@model IEnumerable<RaceEventViewModel>

<div class="jumbotron">
    <h2>Welcome to Greyhound Racing</h2>
    @{
        var idCounter = 0;
        foreach (var raceEvent in Model)
        {
            var id = "raceContainer" + @idCounter;
            <div class="row" id="@id">
                @Html.Partial("RaceEventPartial", raceEvent)
            </div>

            <div class="row">
                @Ajax.ActionLink("Refresh this race", "RefreshRaceEvents", "Home", new { EventNumber = raceEvent.EventNumber },
                              new AjaxOptions
                              {
                                  UpdateTargetId = @id,
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                              }, new { @class = "btn btn-primary refresh", })
            </div>
        }
    }

@section scripts
{
    <script>
        (function poll() {
            setTimeout(function () {
                $(".refresh").click();
                console.log("Clicked!")
                poll();
            }, 2000);
        })();
    </script>
}

</div>