@using HoundRace.Web.ViewModels
@model IEnumerable<RaceEventViewModel>

<div class="jumbotron">
    <h1>Welcome to Greyhound Racing</h1>
    <br />
    @{
        var idCounter = 0;
        foreach (var raceEvent in Model)
        {
            var raceId = "raceContainer" + @idCounter;
            <div class="row" id=@("raceUnit" + idCounter)>

                <div class="row">
                    Sort By Name:
                    <input type="button" name="byName" value="Ascending" class="btn btn-success btn-sort" />
                    Sort By Odds:
                    <input type="button" name="byOdds" value="Ascending" class="btn btn-success btn-sort" />

                    @Ajax.ActionLink("Refresh this race", "RefreshRaceEvents", "Home", new { EventNumber = raceEvent.EventNumber },
                              new AjaxOptions
                              {
                                  UpdateTargetId = @raceId,
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                              }, new { @class = "btn btn-info refresh pull-right"})
                </div>

                <div class="row" id="@raceId">
                    @Html.Partial("RaceEventPartial", raceEvent)
                </div>

            </div>
            <br />
            idCounter++;
        }
    }

</div>
@section scripts
{
    <script src="~/Scripts/ajaxPolling.js"></script>
}
